:root{

    background-color: #e5e5e5;
}

body{

    margin: 0px;
    width: 100vw;
    height: 100vh;
}

#layOut{

    display: flex;
    flex-direction: row-reverse;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    position: relative;
    height: 25vh;
    background-color: #e8e8e8;
}


#headerContent{

    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: space-evenly;

}

#nameInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    
}


#nameControl{

    border: 'none';
    height: '29px';
    flex: 'auto';
    font-size: 26px;
}


#Names{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: auto;
}

#Names > div {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
}


#pfp{

    border: 1px solid #b1b1b1;
    border-radius: 93px;
    height: 150px;
    width: 150px;  

}


#logo{

    height: 350px;
    width: 350px;
}


#setup{

    display: flex;
    flex-direction: column;
}